#画像データ
#*.png
#*.jpg

#音声データ
#*.mp3

#動画データ
#*.mp4

#3Dモデルデータ
#*.fbx

#不要ファイル
/YasyaProjectVer1_2/.vs
/YasyaProjectVer1_2/DerivedDataCache
/YasyaProjectVer1_2/Intermediate
/YasyaProjectVer1_2/Platforms
/YasyaProjectVer1_2/Saved
*.vsconfig
*.md
*.sln

#100MB超える可能性の高いデータ
*.uasset